<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/head.ejs'); %>
    </head>

    <body>
        <script src='js/daynight'></script>
        <header>
            <nav class = 'navDeco'> 
                <a href="/param"> <%= logine %></a>
                <a href="/disconnect"> <%= connecte %> </a>

            </nav>
            <!-- probably nothing here -->
        </header>

        <div class="container">
            <!-- put code here -->
            <div id="contacts">
                <!-- zone des contacts -->
                <h1 class="center">Contacts</h1>
                
                <ul>
                    <% listContacts.forEach(function(contact) { %>
                        <li>  <%= contact.known %> </li>
                    <% }); %>
                </ul>
            </div>

            <form action="write" method="post" class ="center">
                <select name="contacts" id="characteristic-select">
                    <% listContacts.forEach(function(contact) { %>
                        <!-- <li>  <%= contact.known %> </li> -->
                        <option value= <%= contact.known %> > <%= contact.known %> </option>
                    <% }); %>
                </select>

                <button type="submit" > Ecrire </button>
             </form> 

        <!--  <div id="messages">
                <!-- zone des message 
                <p>
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                    Random funniest message
                </p>
            </div>-->
    </div>

    </body>
</html>